body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3e6ff;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-code-box {
    width: 50%;
    max-width: 250px;
    border: 0px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
}

.qr-code-box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-container {
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    margin-bottom: 0;
    color: gray;
}

img {
  border-radius: 15px;
}


@media (max-width: 768px) {
    .qr-container {
        padding: 20px;
    }

    .qr-code-box {
        width: 80%;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 13px;
    }
}
